div {
    display: block;
    unicode-bidi: isolate;
}

body {
    max-width: 1168px;
    margin: 0 auto;
}

main {
    --scroll-y: 0px;
}

h2 {
    font-size: 2rem;
    margin: 16px 0;
    font-weight: 700;
    color: #f8f3a6;
}

button{
    cursor: pointer;
}

section {
    display: block;
    unicode-bidi: isolate;
}

#projects-container{
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 32px;
}

.project-card{
    background-color: #232323;
    margin: 8px;
    font-size: 1.125rem;
    width: calc(50% - 16px);
    border: none;
    text-align: left;
    color: #fff;
    display: inline-block;
    padding: 24px;
    border-radius: 4px;
    line-height: 1.44;
    cursor : pointer;
}

.project-card:hover {
    background-color: #333333;
}

.project-card-image {
    position: relative;
    margin-left: -24px;
    margin-top: -24px;
    width: calc(100% + 48px);
    height: 350px;
    display: inline-flex;
    background-color: #252525;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.project-card-image img {
    width: 100%;
    height: 100%; /* Remplit le conteneur en hauteur */
    object-fit: cover; /* Maintient les proportions et remplit le conteneur */
}

.image-additional-info{
    display: flex;
    position: relative;
    padding: 12px 24px;
    margin-left: -16px;
    margin-right: -32px;
    margin-bottom: -52px;
    left: -8px;
    background-color: rgba(30, 30, 30, .8);
    top: -50px;
    font-size: .875rem;
}

.image-additional-info>div {
    margin-right: 16px;
}

h3 {
    font-size: 1.5rem;
}

.project-card-title {
    color: #C3B1E1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

p{
    margin: 16px 0;
}